.box h1 {
  border: 1px dashed aqua;
}

.anotherKindOfTemplate, .box h1 {
  letter-spacing: 70px;
}

.box {
  text-align: center;
  top: 50%;
  right: 50%;
}
.box h1 {
  color: red;
  font-size: 100px;
}

.cont {
  letter-spacing: 10px;
  color: black;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

.block {
  width: 50%;
  height: 100px;
  background-color: gray;
}